<li class="matched-user" data-user-id="<%= name %>">
  <div class="user-image">
    <img src="http://placekitten.com/150/150">
  </div>
  
  <div class="user-details">
    <ul>
      <li>name: <%= name %></li>
      <li>location: place</li>
      <li>fields: fields</li>
    </ul>
  </div>
  
  <div class="user-covers">
    cover, cover, cover
  </div>
  
  <div class="user-actions">
    <ul>
      <li><a href="#" class="save-user">save</a></li>
      <li><a href="#" class="delete-user">delete</a></li>
      <li><a href="#" class="contact-user">contact</a></li>
    </ul>
  </div>
</li>