<div class="page-welcome">
  <header class="page-header welcome-header">
    <a href="#" class="sign-in">Sign in</a>

    <a href="#" class="global-logo">Advice &mdash; Powered by Behance</a>

    <div class="intro-text">
      <h1>Advice &mdash; Powered by Behance</h1>
      <p class="tagline">
        A successful creative career often boils down to relationships, making the people we know one of our most important assets. Advice by Behance connects established and emerging creatives, to share knowledge, collect feedback and further their creative careers.
      </p>
    </div>
  </header>

  <div class="sign-in-buttons">
    <h3>I am a:</h3>

    <div class="button-bar">
      <div class="buttons">
        <a href="#" class="button mentor" data-type="mentor">Mentor</a>
        <a href="#" class="button mentee" data-type="mentee">Mentee</a>
      </div>
    </div>

    <a href="#" class="button large sign-up">Sign in with Behance</a>
  </div>
</div>