/** ----------------------------------

  Website
  -------

  Global website layout.

---------------------------------- */
html {
  
}

body {
  
}

.global-logo {
  @include replace-text-with-dimensions('logo.png');
  @include inline-block;
}

.container {
  @include box-sizing(border-box);
  
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}